<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pennryan.myapplication" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:logo="@drawable/ic_launcher" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ArrayListViewActivity"
            android:label="@string/title_activity_array_list_view" >
        </activity>
        <activity
            android:name=".SimpleListViewActivity"
            android:label="@string/title_activity_simple_list_view" >
        </activity>
        <activity
            android:name=".CustomListViewActivity"
            android:label="@string/title_activity_custom_list_view" >
        </activity>

        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name=".ImageViewActivity"
            android:label="@string/title_activity_image_view" >
        </activity>
        <activity
            android:name=".DataViewActivity"
            android:label="@string/title_activity_data_view" >
        </activity>

        <service
            android:name=".FloatWindowService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name=".FragmentsActivity"
            android:label="@string/title_activity_fragments" >
        </activity>
        <activity
            android:name=".DynamicFragmentsActivity"
            android:label="@string/title_activity_dynamic_fragments" >
        </activity>
        <activity
            android:name=".ActionBarActivity"
            android:label="@string/title_activity_action_bar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>
    </application>

</manifest>
